@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	@apply text-secondary bg-white;
}


.heading{
	@apply text-3xl md:text-4xl lg:text-3xl 2xl:text-5xl font-black uppercase
}

.text{
	@apply text-base md:text-xl 2xl:text-2xl max:text-3xl font-light
}

.text--small{
	@apply text-base md:text-lg lg:text-base 2xl:text-lg max:text-xl
}



.wrapper{
	@apply px-6 sm:px-12 md:px-20 py-10  md:py-20
}

.link-btn {
	@apply px-12 py-3 bg-transparent font-light xs:text-lg text-white uppercase  border border-dotted rounded-full hover:bg-secondary duration-500;
}
.link-btn--dark {
	@apply px-12 py-3 bg-transparent font-light  text-secondary uppercase  border border-secondary border-dotted   rounded-full hover:bg-third hover:text-white duration-500;
}

.btn-submit{
		@apply px-12 py-3 bg-transparent font-light  text-white uppercase  border border-secondary bg-third border-dotted   rounded-full hover:bg-transparent hover:text-secondary hover:border-secondary duration-500;
}

.link-hover{
	@apply border-b border-b-transparent hover:border-b hover:border-b-white duration-100
}
.link-hover--dark{
	@apply border-b border-b-transparent hover:border-b hover:border-b-secondary duration-100
}



/* SWIPERS */


.swiper-button-next::after,
.swiper-button-prev::after {
	color: #fff;
}

.swiper-button-next::after:hover,
.swiper-button-prev::after:hover{
	@apply text-secondary duration-500
}


.swiper {
	width: 100%;
	height: 100%;
  }
  
  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
  
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }


  .heroSwiper{
	@apply max-h-[1000px]
  }

